@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

:root {
  --line-x: 60px;
  --line-width: 5px;
  
  --header-color: #006064;
  --body-color: #428e92;
  --footer-color: #428e92;
}

.timeline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.timeline-container::before {
  content: '';
  background: red;
  height: 100%;
  left: var(--line-x);
  width: var(--line-width);
  position: absolute;
}

.box-icon {
  position: absolute;
  left: -50px;
  top: calc(50% - 15px);
}

.box-icon::before {
  content: '';
  background: blue;
  font-size: 25px;
  border-radius: 50%;
  padding: 10px;
  color: white;
} 

.box {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.8);
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
}

.box::after {
  width: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.92);
  position: absolute;
  top: calc(50% - 10px);
  transform: rotate(45deg);
  left: -10px;
  content: " ";
}

.header {
  display: flex;
  flex-direction: row;
  background: var(--header-color);
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 2px solid #1C6EA4;
}

.header span {
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}

.header h1 {
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.body {
  position: relative;
  display: flex;
  background: var(--body-color);
}

.body p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  padding: 20px;
}

.footer {
  display: flex;
  background: var(--footer-color);
  align-items: center;
  justify-content: space-between;
}

.kisiler {
  display: flex;
}

.kisi {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 40%;
  justify-content: space-around;
  padding: 0px 5px 0px 5px;
  margin: 5px 5px 5px 5px;
}
.kisi .avatar {
  margin: 5px;
  border-radius: 50%;
  color: white;
}

.kisi p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}